.LDX-element-box {
    
    &.float-bottom {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 300px;
        background-color: grey;
        z-index: 10000001;
    }
}