
.JDT-ErrorBoundary {
   background-color: rgb(216, 59, 59);
   padding: 5px;
   overflow: hidden;

   &>.msg {
      overflow: hidden;
   }

   &>.btn {
      background-color: transparent;
      border: 1px dashed darkred;
      border-radius: 5px;
      cursor: pointer;
   }

   &>.btn:hover {
      background-color: rgb(255, 142, 142);
   }
}
