.InSlick-ArrayTable {
  overflow: hidden;
  padding: 1px 0 1px 0;

  &>.GrabItem {
    position: relative;

    &>.Line {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &>.Line> :first-child {
      cursor: grab;

      &:hover {
        opacity: 0.5;
      }
    }

    &>.Line> :nth-child(2) {
      flex: 1;
    }

    &>.ExpandLine {
      padding: 5px 0 10px 15px;
      background-color: #fff1;
    }

    &.LowerDrop {
      &::after {
        position: absolute;
        user-select: none;
        top: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--vscode-button-hoverBackground);
        z-index: 1000;
        content: '';
      }
    }

    &.UpperDrop {
      &::after {
        position: absolute;
        user-select: none;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--vscode-button-hoverBackground);
        z-index: 1000;
        content: '';
      }
    }
  }
}