.InSlick-ValuePanel {
  display: flex;
  flex-direction: column;

  &> :first-child {
    padding: 10px;
    min-height: 30px;
    background-color: var(--app-shadow-background);
    color: var(--app-shadow-foreground);
  }

  &>.InSlick-Tabs {
    flex: 1;
    overflow: hidden;
  }
}