.SplitContainer {
   display: flex;
   flex-direction: column;
   height: 100%;
   max-height: 100%;
   min-height: 100%;
   max-width: 100%;
   min-width: 100%;

   &>.SplitHeader {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      white-space: nowrap;
      text-transform: uppercase;

      font-weight: bold;
      font-size: 12px;
      padding-top: 3px;
      padding-bottom: 2px;

      color: var(--app-split-container-foreColor);
      background-color: var(--app-split-container-backColor);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

      &.OpenArrow {
         &::before {
            padding-left: 5px;
            padding-right: 5px;
            content: "▽";
         }
      }

      &.CloseArrow {
         &::before {
            padding-left: 5px;
            padding-right: 5px;
            content: "▷";
         }
      }

      &:hover {
         color: var(--app-split-container-hover-foreColor);
         background-color: var(--app-split-container-hover-backColor);
      }
   }
}

.theme-light {
   --app-split-container-backColor: #aaa;
   --app-split-container-foreColor: #333;
   --app-split-container-hover-backColor: #ccc;
   --app-split-container-hover-foreColor: #666;
}

.theme-dark {
   --app-split-container-backColor: #222;
   --app-split-container-foreColor: #888;
   --app-split-container-hover-backColor: #333;
   --app-split-container-hover-foreColor: #aaa;
}
