.poly-Assets-Browser-Panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  border-bottom: var(--app-highlight-background) 1px dashed;

  &> :nth-child(2) {
    flex: 1;
    cursor: grab;
    user-select: none;
    text-overflow: ellipsis;
    word-wrap: none;

    & .ComponentPack {
      font-size: 12px;
      font-weight: bold;
      padding: 5px !important;
      text-transform: capitalize;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }

    & .ComponentItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
      padding: 10px !important;
      border-radius: 10px;
      border: solid thin #333;
      background-color: var(--app-background);
      gap: 5px;

      &:hover {
        background-color: var(--app-highlight-background);
      }

      &>:nth-child(2) {
        flex: 1;
        padding-left: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}